                                    /* resorse  */
/*------
   font
 -------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

                                /* utilities */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
  
}

.btn{
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border-radius: 40px;
    background-color: crimson;
    text-align: center;
    transition: background-color .7s;
}
.btn:hover{
    background-color: yellow;
}

                                /* header style */

/*-------
 nav css
 -------*/
 header{
     background-color: white;
     margin-left: 5% ;
     margin-right: 5%;
 }

nav,.banner{
     display: flex;
     justify-content: space-between;
     padding: 20px; 
     align-items:center;

 }
 .banner{
     margin-top: 6%;
 }
 .banner div{
     width: 50%;
 }
 .banner_right{
     padding-left: 20%;
 }
 .logo_text{
     font-size: 24px;
 }
 .nav_button ul{
     display: flex;
 }
 .nav_button>ul{
     list-style-type: none;
 }
 .nav_button>ul a{
     text-decoration: none;
     padding-left: 20px;
     font-size: l7px;
 }
 .fas{
     font-size: 24px;
    margin-left: 20px;
     font-weight: 800;
 }


                                /* sponser section */
.sponsers{
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    height: 10vw;
    align-items: center;
    margin: 5% 3% 5% 3%;
    padding: 5%;
   


}

.sponser {
    
    justify-content: center;
    padding: 13%;
}
.sponser img{
    width: 70%;
    margin-bottom: 0;
}

                                        /* products css */


.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 59px;
    margin-left: 8%;
  
  
}
.product_header{
    text-align: center;
    margin:6% 0% 10% 0%;
}
.product{
    box-shadow: 2px 2px 6px black;
    padding: 8px;
    border-radius: 7px;
    width: 70%;
    height: 100%;
   
  
}
.product img{
    width: 100%;
}
.content{
    
    /* box-shadow: 1px 1px 5px black; */
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0%;
}
.content h1,h2,.fas,p{
    font-size: 12px;
}
.rating i{
    color: green;
    margin-left: 0%;

}