                                    /* resorse  */
/*------
   font
 -------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

                                /* utilities */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
  
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
section{
    margin-top: 3%;
}

.btn{
    width: 40%;
    padding: 8px;
    font-size: 18px;
    border-radius: 40px;
    background-color: crimson;
    text-align: center;
    transition: background-color .7s;
    margin-top: 2%;
    
}
.btn:hover{
    background-color: yellow;
}

                                /* header style */

/*-------
 nav css
 -------*/
 header{
     background-color: white;
     margin-left: 5% ;
     margin-right: 5%;
 }

nav,.banner{
     display: flex;
     justify-content: space-between;
     padding: 20px; 
     align-items:center;

 }
 .banner{
     margin-top: 6%;
 }
 .banner div{
     width: 50%;
 }
 .banner_right{

     width: 100px;
     height: 300px;
    

 }
 /*---------------------
  bannner left animation 
 -----------------------*/
 @keyframes fly {

    0%{
        left: 0px;
        top: 0px;
        /* transform: rotate(90deg); */
    }

    33%{
        left: 230px;
        transform: scale(.3);
        
    }
    66%{
        top: 100px;
        transform: scale(3.25);
    }
    85%{
        transform:  scale(.15) rotate(180deg) ;
        
    }
    100%{
        top:0px;
        left: 0;
        /* transform: rotate(-180deg); */
    }
     
 }

 .banner_right img{
     width: 50%;
     position: relative;
     animation: fly 3s ease-in-out .3s infinite alternate;
     animation-play-state:paused;
  

}


 }
 .logo_text{
     font-size: 24px;
 }
 .nav_button ul{
     display: flex;
 }
 .nav_button>ul{
     list-style-type: none;
 }
 .nav_button>ul a{
     text-decoration: none;
     padding-left: 20px;
     font-size: l7px;
 }
 .fas{
     font-size: 24px;
    margin-left: 20px;
     font-weight: 800;
 }


                                /* sponser section */
.sponsers{
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    height: 10vw;
    align-items: center;
    margin: 5% 3% 5% 3%;
    padding: 5%;
   


}

.sponser {
    
    justify-content: center;
    padding: 13%;
}
.sponser img{
    width: 70%;
    margin-bottom: 0;
}

                                        /* products css */


.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-column-gap: 10px; */
    grid-row-gap: 80px;
    margin-left: 8%;
  
  
}
.product_header{
    text-align: center;
    margin:6% 0% 10% 0%;
}
.product{
    box-shadow: 2px 2px 6px black;
    padding: 8px;
    border-radius: 7px;
    width: 70%;
    height: 100%;
   
  
}
.product img{
    width: 100%;
}
.content{
    
    /* box-shadow: 1px 1px 5px black; */
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0%;
}
.content>h1,h2,.fas,p{
    font-size: 12px;
    padding: 0px;
    margin-bottom: 0px;
}
.rating i{
    color: green;
    margin-left: 0%;

}
.btn2{
  background-color: crimson;
  width: 13%;
  border-radius: 5px;
  position: relative;
  left: 78%;
  color: white;
  padding: 6px;
  align-items: center;
  margin-top: 3%;
}
                                                /* feedback css */

section .feedback_header{

    margin-top: 10%;
    margin-bottom: 5%;

}
.feedback_header span{ 
    font-size: 26px;
    align-items: center;
    padding: 10px;
    width: 40%;
    margin-left: 35%;
}
.feedback {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.clint img{
width: 80px;
height:70px;
margin-left: 18%;
}
.clint h3,p{
    font-size: ;
}

                                                /* footer csss */
footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 5%;
background-color: black;
border-radius: 5x;
border-top: 4px solid rgb(167, 161, 161);
}

footer h1,p{
    color: gray;
}

.fab{
    font-size: 30px;
}


                                            /* responsiveness */
/*------------ 
----mobile-- */

@media only screen and (max-width:687px) {
    section{
        border: 2px solid red;

    }
    main{
        display: flex;
        flex-direction: column;
    }

    nav{
        display: none;
    }

    .banner{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
   .banner div{
       width: 100%;
   }
   
 .btn{
        width: 40%;
        padding: 7px;
        font-size: 20px;
        border-radius: 3px;
    } 
    .banner_left{
        order:2;
    }
    .banner_right img{
        order:1;
        width: 100%;
        animation: fly 3s ease-in-out .3s infinite alternate;
        animation-play-state:paused;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 1%;
        height: 100%;
        overflow: scroll;
        
       
    }
    .product {
        
        margin-left: 4%;
      
        
    }
    section .btn2{
        margin-top: 5%;
    }
.feedback_header{
    text-align: center;
    padding-left: 50%;
}
    .feedback{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-around;
    }
}